$body-background: #eee;

.full-body {
    height: 100%;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: $body-background;
  }

  .form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;

    .form-signin-heading,
    .form-signin .checkbox {
      margin-bottom: 10px;
    }

    .checkbox {
        font-weight: 400;
      }

      .form-control {
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 16px;
        &:focus {
            z-index: 2;
        }

      }

      input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }

      input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
  }
