/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/scss/bootstrap";

html, body {
    width: 100%;
    height: 100%;
}
.active{
  background-color: red;
}
